body {
    background-color: #414040 !important;
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: rgb(86, 100, 112);
}

header {
    background: #292929;
    padding: 20px 0;
}

header .logo a {
    display: inline-block;
    vertical-align: middle;
}

header .logo img {
    height: 50px;
}